<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="by.bsu.famcs.lipinskaya.model.Student"/>
        <mapping class="by.bsu.famcs.lipinskaya.model.Group"/>
        <mapping class="by.bsu.famcs.lipinskaya.model.Course"/>
        <mapping class="by.bsu.famcs.lipinskaya.model.Faculty"/>
        <mapping class="by.bsu.famcs.lipinskaya.model.Subject"/>
        <mapping class="by.bsu.famcs.lipinskaya.model.Teacher"/>
    </session-factory>
</hibernate-configuration>
